@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model ViewModel
@{
	ViewBag.Title = "Ingredient Edit";
}
<h2>@ViewBag.Title</h2>
<a asp-controller="Admin" asp-action="Index">Back to Admin</a>


<div>
	TEST
</div>