@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@model ViewModel
@{
	ViewBag.Title = "Customer Edit";
}
<h2>@ViewBag.Title</h2>
<a asp-controller="Customer" asp-action="Index">Back to Customers</a>

<div class="row">
	<div class="col-md-8">
		<section>
			<form asp-controller="Customer" asp-action="Edit" method="post" class="form-horizontal">
				<h3>Customer id: @Model.Customer.Id</h3><hr />
				<div class="form-group" hidden>
					<label class="col-md-2" asp-for="Customer.Id"></label>
					<input readonly="readonly" asp-for="Customer.Id" />
					<span asp-validation-for="Customer.Id" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" asp-for="Customer.AccountName"></label>
					<div class="col-md-10">
						<input asp-for="Customer.AccountName" class="form-control" />
						<span asp-validation-for="Customer.AccountName" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" asp-for="Customer.Password"></label>
					<div class="col-md-10">
						<input asp-for="Customer.Password" class="form-control" />
						<span asp-validation-for="Customer.Password" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" asp-for="Customer.FirstName"></label>
					<div class="col-md-10">
						<input asp-for="Customer.FirstName" class="form-control" />
						<span asp-validation-for="Customer.FirstName" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" asp-for="Customer.LastName"></label>
					<div class="col-md-10">
						<input asp-for="Customer.LastName" class="form-control" />
						<span asp-validation-for="Customer.LastName" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" asp-for="Customer.Address"></label>
					<div class="col-md-10">
						<input asp-for="Customer.Address" class="form-control" />
						<span asp-validation-for="Customer.Address" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" asp-for="Customer.Zip"></label>
					<div class="col-md-10">
						<input asp-for="Customer.Zip" class="form-control" />
						<span asp-validation-for="Customer.Zip" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" asp-for="Customer.City"></label>
					<div class="col-md-10">
						<input asp-for="Customer.City" class="form-control" />
						<span asp-validation-for="Customer.City" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" asp-for="Customer.Email"></label>
					<div class="col-md-10">
						<input asp-for="Customer.Email" class="form-control" />
						<span asp-validation-for="Customer.Email" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" asp-for="Customer.Phone"></label>
					<div class="col-md-10">
						<input asp-for="Customer.Phone" class="form-control" />
						<span asp-validation-for="Customer.Phone" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" asp-for="Customer.PremiumCoins"></label>
					<div class="col-md-10">
						<input asp-for="Customer.PremiumCoins" class="form-control" />
						<span asp-validation-for="Customer.PremiumCoins" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="Customer.Role" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						@foreach(var item in Enum.GetValues(typeof(PizzaPlace.Entities.UserRole)))
						{
							@if(item.ToString() == Model.Customer.Role.UserRole.ToString())
							{
								<label>
									<input checked type="radio" asp-for="Role.UserRole" value="@item" /> @item
								</label>
							}
							else
							{
								<label>
									<input type="radio" asp-for="Role.UserRole" value="@item" /> @item
								</label>
							}
						}
						<span asp-validation-for="Customer.Role" class="text-danger"></span>
					</div>
				</div>
				<div>
					<button type="submit">Save</button>
				</div>
			</form>
		</section>
	</div>
</div>
@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}